.art-banner-container {
  /* width: 100%; */
  height: 100vh;
  display: grid;
  grid-auto-rows: minmax(20px, auto);
  grid-template-rows: 90% 10%;
  --grid-left-padding: 10px;
  /* grid-template-columns: 1fr; */
  animation: fade-up 0.8s 1.5s backwards;
}

/* Keyframes */
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.title-flex-container {
  /* background-color: rgb(255, 222, 162); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-title {
  flex: 1;
  /* background-color: orange; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 350px 2px 350px;
  /* grid-auto-rows: 200px; */
}

.banner-img {
}

.first-header {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  align-items: end;
  /* justify-content: flex-end; */
  padding-left: var(--grid-left-padding);
}

.first-header h1 {
  transform: scaleY(2.5) translateY(-30%);
}

.second-header {
  grid-row: 3;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;
  padding-right: 40px;
}

.second-header h1 {
  transform: scaleY(2.5) translateY(30%) rotate(180deg);
}

.horizontal-line {
  /* width: 100vw; */
  /* position: absolute; */
  height: 2px;
  border-top: 1px solid rgb(0, 0, 0);
  /* top: 500px; */
  grid-row: 2;
  grid-column: 1/5;
}

.vertical-line {
  width: 100vw;
  position: absolute;
  height: 2px;
  color: black;
  background-color: black;
  /* top: 500px; */
}

.blur-text {
  color: transparent;
  text-shadow: 0 0 1px #000;
}

.main-title h1 {
  /* text-align: center; */
  font-size: 200px;
  line-height: 150px;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: -0.8rem;
  /* transform-origin: top left; */
}

.banner-description {
  line-height: 16px;
  letter-spacing: -1px;
  grid-row: 3;
  grid-column: 1;
  display: flex;
  padding-left: var(--grid-left-padding);
}

.banner-description-text {
  align-self: flex-end;
}

#scroll-down-link {
  /* background-color: orangered; */
  /* height: 80px; */
  /* width: 100%; */
  /* position: absolute; */
  /* bottom: 0; */
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px 0; */
}

#scroll-down-link a {
  font-size: 2rem;
}

#scroll-down-link svg {
  /* color: transparent; */
  /* filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.7)); */
}

@media (max-width: 600px) {
  .main-title {
    /* width: 100%; */
  }

  .main-title h1 {
    font-size: 40px;
    letter-spacing: -0.2rem;
  }

  .second-header {
    padding-right: var(--grid-left-padding);
  }
}
