.flash-section {
  background-color: black;
  padding: 20px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stack {
  width: 400px;
  height: 500px;
  /* border: 1px white dotted; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes splay1 {
  /* from {
    transform: rotate(1deg) translate(1px, -2px);
  } */
  to {
    transform: rotate(1deg) translate(10px, 10px);
  }
}

@keyframes splay2 {
  /* from {
    transform: rotate(1deg) translate(1px, -2px);
  } */
  to {
    transform: rotate(-3deg) translate(-15px, 15px);
  }
}

@keyframes splay3 {
  /* from {
    transform: rotate(1deg) translate(1px, -2px);
  } */
  to {
    transform: rotate(1deg) translate(28px, -18px);
  }
}

.page {
  width: 280px;
  height: 380px;
  background-color: rgb(223, 217, 211);
  position: absolute;
}

#page1 {
  background-image: url("/assets/collage.png");
  background-size: cover;
  background-position: center;
  z-index: 3;
  box-shadow: 0px 2px 5px rgba(94, 94, 94, 0.527);
  animation: splay1 linear forwards;
  animation-timeline: view();
  animation-range: entry 20% cover 80%;
}

#page2 {
  background-image: url("/assets/halftone.png");
  background-size: cover;
  background-position: center;
  z-index: 2;
  box-shadow: 1px -1px 3px rgba(94, 94, 94, 0.527);
  animation: splay2 linear forwards;
  animation-timeline: view();
  animation-range: entry 5% cover 50%;
}

#page3 {
  /* background-color: brown; */
  background-image: url("/assets/corner.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
  animation: splay3 linear forwards;
  animation-timeline: view();
  animation-range: entry 5% cover 50%;
}

.flash-link {
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.flash-link:hover {
  color: var(--accent-color);
}
