.form-section {
  width: 100%;
  background-color: #242424;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.form-header h2 {
  margin-bottom: 20px;
}

.form-header p {
  letter-spacing: initial;
}

.booking-form {
  margin-inline: auto;
  padding: 30px;
  font-size: 18px;
  max-width: 600px;
  padding-block: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #242424;
  color: white;
}

.booking-form h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(175, 175, 175);
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control label {
  font-size: 16px;
  /* font-weight: 600; */
  margin-bottom: 10px;
  color: #afafaf;
}

.form-control input[type="text"],
.form-control textarea {
  font-size: 20px;
  border-radius: 8px;
  border: 1px rgba(168, 168, 168, 0.63) solid;
  padding-block: 10px;
  padding-inline: 14px;
  transition: 0.2s;
  background: rgba(207, 207, 207, 0.164);
  color: white;
}

.form-control input[type="text"]:focus,
.form-control textarea:focus {
  outline: none !important;
  border: 1px solid red;
  box-shadow: 0 0 4px rgb(0, 141, 141);
  background: rgba(207, 207, 207, 0.075);
  border-color: aqua;
  color: white;
}

.design-type-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.check-btn {
  font-size: 30px;
  flex-shrink: 0;
}

.design-type-container input {
  display: none;
}

.booking-form .card {
  border: 1px rgb(77, 77, 77) solid;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.055);
  color: rgb(77, 77, 77);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  transition: 0.4s;
}

.booking-form .card .card-info {
  color: white;
}

.booking-form .card:hover {
  transform: scale(1.02);
}

input[id="flash-select"]:checked ~ label[for="flash-select"] .card,
input[id="custom-select"]:checked ~ label[for="custom-select"] .card,
input[id="freehand-select"]:checked ~ label[for="freehand-select"] .card {
  border: 1px rgb(255, 255, 255) solid;
  /* transform: scale(0.97); */
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
}

input[id="flash-select"]:checked ~ label[for="flash-select"] .card-info,
input[id="custom-select"]:checked ~ label[for="custom-select"] .card-info,
input[id="freehand-select"]:checked ~ label[for="freehand-select"] .card-info {
  color: rgb(255, 255, 255);
}

input[type="file"] {
  display: none;
}

.empty-references {
  border: 1px dashed #ccc;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  padding: 12px 12px;
  min-height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.empty-references:active {
  background-color: rgba(255, 255, 255, 0.164);
}

.empty-references .upload-icon {
  font-size: 48px;
}

.add-references {
  display: grid;
  cursor: pointer;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: 110px;
  gap: 10px;
}

.add-references .upload-icon {
  font-size: 28px;
}

.add-references img,
.add-image-btn {
}

.add-image-btn {
  border: 1px dashed #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.reference-upload span {
  font-size: 16px;
}

.reference-upload img {
}

.booking-form button {
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: aqua;
  color: #ff00dd;
  font-size: 20px;
  font-weight: 600;
  padding: 12px;
  border: none;
  border-radius: 8px;
}

.text-error {
  font-size: 20px;
  color: red;
}

/* Chat style

.booking-page {
  width: 100%;
  min-height: 100vh;
  padding: 30px;
  background-color: black;
  color: white;
}
input {
   background-color: blueviolet; 
   margin-left: 20px; 
   caret-color: transparent; 
}
input::after {
  content: "|";
  animation: cursor 1.1s infinite step-start;
}

.custom-type-animation-cursor::after,
.input-caret::after {
  content: "|";
  animation: cursor 1.1s infinite step-start;
}

@keyframes cursor {
  50% {
    opacity: 0;
  }
}

.nav-button {
  background-color: rgba(255, 255, 255, 0.514);
  margin: 20px;
}

.terminal-section {
  margin: 100px auto;
  font-size: 30px;
  font-family: monospace;
  display: flex;
}
*/

/* .text-form {
  display: flex;
}

.text-form input {
  flex: 1;
} */

@media screen and (max-width: 600px) {
}
