.form-section {
  width: 100%;
  padding-top: 60px;
  min-height: 100vh;
}

.booking-form {
  margin-inline: auto;
  padding: 30px;
  font-size: 18px;
  max-width: 600px;
  padding-block: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.booking-form input[type="text"],
.booking-form textarea {
  @apply bg-slate-50 p-2 text-base rounded-lg py-2 px-3 border-2 border-solid border-slate-300 duration-150 focus:outline-none focus:border-slate-700;
}

.booking-form h3 {
  color: rgb(98, 98, 98);
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control label {
  margin-bottom: 10px;
}

.contact-input-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;
}

.check-btn {
  font-size: 30px;
  flex-shrink: 0;
}

.flash-button {
  position: relative;
  width: 80px;
  height: 26px;
  display: block;
  margin-top: 10px;
}

.flash-button a {
  z-index: 2;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 1px;
  color: #535353;
}

.flash-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.2s ease-in-out;
  border: 1px solid #535353;
  border-radius: 100px;
}

.flash-button:hover::before {
  transform-origin: center;
  transform: scale(1.1);
  border: 1px solid rgba(255, 255, 255, 0.425);
}

input[type="file"] {
  display: none;
}

.empty-references {
  border: 1px dashed #535353;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  padding: 12px 12px;
  min-height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.empty-references:active {
  background-color: rgba(255, 255, 255, 0.164);
}

.empty-references .upload-icon {
  font-size: 48px;
}

.reference-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 10px;
  height: 200px;
}

/* .reference-list label {
  margin-bottom: 0;
} */

.reference-list img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.upload-icon {
  font-size: 28px;
}

.add-image-btn {
  height: 100%;
  cursor: pointer;
  border: 1px dashed #535353;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.reference-upload span {
  font-size: 16px;
}

.submit-button {
  width: 200px;
  margin-inline: auto;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: var(--accent-color);
  color: var(--accent-color-dark);
  font-size: 20px;
  font-weight: 600;
  padding: 12px;
  border: none;
  border-radius: 8px;
}

.disabled-button {
  cursor: default;
  opacity: 50%;
}

.card-error {
  .flash-button a {
    color: #ff6262 !important;
  }

  .flash-button::before {
    border: 1px solid #ff6262 !important;
  }
}

.card-error,
.reference-error {
  background-color: rgba(255, 160, 160, 0.055) !important;
  color: #ff6262 !important;
}

.card-error,
.reference-error,
.text-input-error {
  border: 1px solid #ff6262 !important;
}

.text-error {
  font-size: 14px;
  color: #ff6262;
}

/* Chat style

.booking-page {
  width: 100%;
  min-height: 100vh;
  padding: 30px;
  background-color: black;
  color: white;
}
input {
   background-color: blueviolet; 
   margin-left: 20px; 
   caret-color: transparent; 
}
input::after {
  content: "|";
  animation: cursor 1.1s infinite step-start;
}

.custom-type-animation-cursor::after,
.input-caret::after {
  content: "|";
  animation: cursor 1.1s infinite step-start;
}

@keyframes cursor {
  50% {
    opacity: 0;
  }
}

.nav-button {
  background-color: rgba(255, 255, 255, 0.514);
  margin: 20px;
}

.terminal-section {
  margin: 100px auto;
  font-size: 30px;
  font-family: monospace;
  display: flex;
}
*/

/* .text-form {
  display: flex;
}

.text-form input {
  flex: 1;
} */

@media screen and (max-width: 600px) {
}
