.form-section {
  width: 100%;
  padding: 30px;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.booking-form {
  font-size: 18px;
  width: 600px;
  max-width: 800px;
  border-radius: 10px;
  border: 1px black solid;
  padding: 30px;
  padding-block: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.form-control input[type="text"],
textarea {
  border-radius: 8px;
  border: 1px rgba(0, 0, 0, 0.274) solid;
  padding-block: 6px;
  padding-inline: 10px;
}

.form-control input[type="text"]:focus {
}

.booking-form button {
  cursor: pointer;
}

.text-error {
  font-size: 20px;
  color: red;
}

/* Chat style

.booking-page {
  width: 100%;
  min-height: 100vh;
  padding: 30px;
  background-color: black;
  color: white;
}
input {
   background-color: blueviolet; 
   margin-left: 20px; 
   caret-color: transparent; 
}
input::after {
  content: "|";
  animation: cursor 1.1s infinite step-start;
}

.custom-type-animation-cursor::after,
.input-caret::after {
  content: "|";
  animation: cursor 1.1s infinite step-start;
}

@keyframes cursor {
  50% {
    opacity: 0;
  }
}

.nav-button {
  background-color: rgba(255, 255, 255, 0.514);
  margin: 20px;
}

.terminal-section {
  margin: 100px auto;
  font-size: 30px;
  font-family: monospace;
  display: flex;
}
*/

/* .text-form {
  display: flex;
}

.text-form input {
  flex: 1;
} */

@media screen and (max-width: 600px) {
}
