.confirmation-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 30px;
  font-size: 2rem;
  margin-bottom: 32px;
  color: #919191;
  font-weight: 600;
}

.confirmation-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  gap: 20px;
}

.confirmation-icon {
  font-size: 80px;
}

@media screen and (max-width: 600px) {
  .confirmation-section {
    width: 100%;
    margin-top: 100px;
  }
}
