.gallery-container {
  padding: 20px;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-thickness: 2px;
  --line-color: rgb(148, 148, 148);
  --vertical-line-offset: calc(var(--col-gap) / 2);
  --horizontal-line-offset: calc(var(--row-gap) / 2);
  --card-border-radius: 8px;
}

.gallery-container p {
  letter-spacing: initial;
}

.photo-grid {
  overflow: hidden;
  display: grid;
  column-gap: var(--col-gap);
  row-gap: var(--row-gap);
  /* grid-auto-rows: min-content; */
  /* grid-auto-rows: 200px; */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.photo-grid .card {
}

.photo-grid .card img {
  /* object-fit: cover; */
  /* border-radius: var(--card-border-radius); */
}

.flash-card {
  background-color: white;
  overflow: hidden;
  /* border-radius: var(--card-border-radius); */
}

.img-caption {
  padding: 12px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.img-caption p {
  color: rgb(75, 75, 75);
  text-transform: uppercase;
}

.card .book-btn {
  background-color: #555;
  opacity: 50%;
  color: white;
  font-size: 14px;
  padding: 2px 4px;
  border: none;
  border-radius: 200px;
  cursor: pointer;
}

/* 
.card::before,
.card::after {
  content: "";
  position: absolute;
  background-color: var(--line-color);
  z-index: -10;
}

.card::before {
  width: calc(100% + var(--col-gap));
  height: var(--line-thickness);
  top: calc(var(--horizontal-line-offset) * -1);
  left: calc(var(--vertical-line-offset) * -1);
}

.card::after {
  height: calc(100% + var(--row-gap));
  width: var(--line-thickness);
  top: calc(var(--horizontal-line-offset) * -1);
  left: calc(var(--vertical-line-offset) * -1);
} */

@media screen and (min-width: 600px) {
  .grid-container {
    width: 70vw;
    margin-left: auto;
    margin-right: 0;
  }

  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
}
