.gallery-container {
  padding: 20px;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-thickness: 2px;
  --line-color: rgb(148, 148, 148);
  --vertical-line-offset: calc(var(--col-gap) / 2);
  --horizontal-line-offset: calc(var(--row-gap) / 2);
  --card-border-radius: 8px;
}

.gallery-container p {
  letter-spacing: initial;
}

.photo-grid {
  max-width: 1040px;
  margin: 40px auto;

  columns: 3;
  column-gap: 20px;
  /* column-gap: var(--col-gap); */
  /* row-gap: var(--row-gap); */
  /* grid-auto-rows: min-content; */
  /* grid-auto-rows: 200px; */
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
}

.photo-grid .card {
  width: 100%;
  margin-bottom: 30px;
}

.photo-grid .card img {
  max-width: 100%;
  /* object-fit: cover; */
  /* border-radius: var(--card-border-radius); */
}

.flash-card {
  background-color: white;
  /* overflow: hidden; */
  /* border-radius: var(--card-border-radius); */
  padding: 10px;
  border: 1px solid rgb(160, 160, 160);
}

.img-caption {
  /* position: absolute; */
  /* bottom: 12px; */
  /* right: -12px; */
  padding: 12px 0 2px 0;
  text-align: right;
}

.card .book-btn {
  /* padding: 2px 6px; */
  /* border: 2px solid rgba(0, 0, 0, 0.685); */
  font-size: 14px;
  color: rgb(65, 65, 65);
  border: none;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
}

/* 
.card::before,
.card::after {
  content: "";
  position: absolute;
  background-color: var(--line-color);
  z-index: -10;
}

.card::before {
  width: calc(100% + var(--col-gap));
  height: var(--line-thickness);
  top: calc(var(--horizontal-line-offset) * -1);
  left: calc(var(--vertical-line-offset) * -1);
}

.card::after {
  height: calc(100% + var(--row-gap));
  width: var(--line-thickness);
  top: calc(var(--horizontal-line-offset) * -1);
  left: calc(var(--vertical-line-offset) * -1);
} */

@media screen and (width < 600px) {
  .photo-grid {
    columns: 1;
  }
}
