.gallery-container {
  padding: 30px;
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.gallery-container p {
  letter-spacing: initial;
}

.gallery-container h1 {
  font-size: 2rem;
  font-weight: 600;
}

.photo-grid {
  max-width: 400px;
  margin-inline: auto;
  margin-block: 20px 40px;
  display: flex;
  flex-direction: column;
}

.photo-grid .card {
  margin-bottom: 40px;
}

.photo-grid .card img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.flash-card {
  background-color: white;
}

.img-caption {
  padding: 12px 0 2px 0;
  text-align: right;
}

.card .book-btn {
  font-size: 14px;
  color: white;
  border: none;
  background: rgb(65, 65, 65);
  cursor: pointer;
  text-transform: uppercase;
  font-family: monospace;
}
