.info-page {
  min-height: 100vh;
  /* color: white; */
  /* background-image: linear-gradient(to bottom right, #ffffff, #e9e9e9); */
}

.info-text {
  font-size: 2rem;
  margin-bottom: 32px;
  opacity: 30%;
  font-weight: 600;
}

.info-section {
  margin-top: 200px;
}

details {
  padding-block: 20px;
  border-block: 1px solid #00000026;
  overflow: hidden;
}

summary {
  list-style-type: none; /* Firefox */
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none; /* Chrome */
}

details p {
  line-height: 20px;
}

details[open] {
  min-height: 50px;
}

details[open] summary {
  margin-bottom: 1em;
}

@media screen and (max-width: 600px) {
  .info-section {
    width: 100%;
    margin-top: 100px;
  }
}
