.info-page {
  width: 100%;
  min-height: 100vh;
  padding: 30px;
  /* color: white; */
  background-image: linear-gradient(to bottom right, #ffffff, #e9e9e9);
}

.info-text {
  font-size: 2rem;
  margin-bottom: 32px;
  opacity: 30%;
  font-weight: 600;
}

.info-section {
  margin-top: 200px;
  padding: 10px;
  width: 60vw;
}

.tattoo-faq {
  font-size: 20px;
}

details {
  padding-inline: 20px;
  padding-block: 45px;
  border-block: 1px solid #000;
  overflow: hidden;
}

summary {
  list-style-type: none; /* Firefox */
  transition: all 0.3s;
  cursor: pointer;
  font-weight: 600;
}

summary::-webkit-details-marker {
  display: none; /* Chrome */
}

details p {
  line-height: 26px;
}

details[open] {
  min-height: 50px;
}

details[open] summary {
  margin-bottom: 1em;
}

@media screen and (max-width: 600px) {
  .info-section {
    width: 100%;
    margin-top: 100px;
  }
}
