.work-gallery {
  position: relative;
  min-height: 100vh;
  /* width: 100%; */
  /* padding: 0 0 20px 0; */
  /* display: flex; */
  animation: fade-in linear both;
  animation-timeline: view();
  animation-range: entry 5% cover 30%;
  /* padding: 20px; */
  /* border-top: 1px black solid; */
}

.work-container {
  max-width: 1200px;
  margin-inline: auto;
  /* text-align: center; */
}

.story-text {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.mission-statement {
  letter-spacing: -1px;
  color: #73cf2cb2;
}

.instagram-link {
  letter-spacing: -1px;
  cursor: pointer;
}

.instagram-link:hover {
  color: var(--accent-color);
}

.general-info-div {
  padding-block: 80px 10px;
  color: black;
}

.general-info-div p,
.instagram-link {
  font-size: 20px;
  line-height: 22px;
}

.work-gallery-grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  padding-block: 20px;
}

.gallery-link {
  font-size: 20px;
}

.gallery-link:hover {
  color: var(--accent-color);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.work-gallery-box {
  flex: 1;
  height: 400px;
  background-color: rebeccapurple;
}

.work-gallery-grid img {
  /* max-height: 100%; */
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 700px) {
  .work-gallery-grid img:nth-child(n + 3) {
    display: none;
  }
}
