html,
body {
  background-color: #fff;
  background: white;
  /* background-image: url("arch.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; */
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1 {
  font-size: 32px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}

h3 {
  font-size: 32px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
}

a {
  font-size: 16px;
  letter-spacing: -1px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  cursor: pointer;
}
