html,
body {
  background-color: #fff;
  background: white;
  /* background-image: url("arch.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; */
}

:root {
  --accent-color: #92ff3d;
  --accent-color-dark: #254a09;
}

.main_text {
  color: #444444;
}
.secondary_text {
  color: #765123;
}
.main_color {
  background: #343434;
}
.secondary_color {
  background: #aaa;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1 {
  font-size: 32px;
  color: black;
  font-weight: 600;
}

h3 {
  font-size: 32px;
  color: black;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-size: 16px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  cursor: pointer;
}
