/* ** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) **/

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  /* all: unset; */
  display: revert;
}

html,
body {
  width: auto;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

@-ms-viewport {
  width: device-width;
}
